{% load i18n %}
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    {% if form.instance.id > 0 and delete_url %}
        <a class="btn btn-danger" href="{% url delete_url form.instance.id %}">{% trans "Delete" %}</a>
    {% endif %}
  </div>
</div>
