{% load tag_extras %}

{% for field in form %}
  <div class="form-group row">
    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label {{ field.css_classes }}">{{ field.label }}</label>
    <div class="col-sm-9">
      {{ field|addcss:"form-control" }}
      {% if field.errors %}
        <div class="text-danger">{{ field.errors }}</div>
      {% endif %}
    </div>
  </div>
{% endfor %}