{% load i18n %}
{% if paginator.count > 0 %}
  <ul class="pagination">
    <li><span class="disabled" aria-hidden="true">{{ paginator.count }} {% trans "records" %}</span></li>&nbsp;
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="{% trans 'Previous' %}">
            <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}

    {% if window_first_page_nb != 1 %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="1">
          <span aria-hidden="true">1</span>
        </a>
      </li>
      <li class="page-item">
        <span aria-hidden="true">...</span>
      </li>
    {% endif %}
    {% for page_number in pages_window %}
      {% if page_number != page_obj.number %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
      {% else %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ page_number }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if window_last_page_nb != paginator.num_pages %}
      <li class="page-item">
        <span class="page-link">...</span>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ paginator.num_pages }}" aria-label="{{ paginator.num_pages }}">
          <span aria-hidden="true">{{ paginator.num_pages }}</span>
        </a>
      </li>
    {% endif %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="{% trans 'Next' %}">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
