{% load i18n %}
<div class="card">
  <div class="card-header">
    <h3>{% trans "Search form" %}</h3>
  </div>
  <div class="card-body">
    {% for field in search_form %}
      <div class="form-group row">
        <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
        <div class="col-sm-9">
          {{ field }}
        </div>
      </div>
    {% endfor %}
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-11">
        <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
      </div>
    </div>
  </div>
</div>
