{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}

{% block title %}{% trans "Author" %}{% endblock %}

{% block pageTitle %}{% trans "Author" %}:&nbsp;{{ object.get_full_name|default:_("new") }}{% endblock %}

{% block content %}

{% if object.id > 0 %}
  <div class="col-sm-12">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#mainForm">{% trans "Form" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#books">{% trans "Books" %}</a>
      </li>
    </ul>
  </div>
{% endif %}
<div class="tab-content">
  <div class="tab-pane container active" id="mainForm">
    {% include 'alessandria/_inc_form_edit_header.html' %}
    <div class="card">
      <div class="card-body">
        <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
          {% include 'alessandria/_inc_form_edit_content_std.html' %}
          {% include 'alessandria/_inc_form_edit_buttons_std.html' with delete_url='alessandria:author_delete' %}
        </form>
        {% include 'alessandria/_inc_form_edit_footer.html' %}
      </div>
    </div>
  </div>

  {% if object.id > 0 %}
    <div class="tab-pane container fade" id="books">
      <div class="card">
        <div class="card-body">
          <ul>
            {% for book in object.get_books %}
              <li>
                <a href="{% url 'alessandria:book_update' book.id %}">
                  {{ book }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
