{% load i18n %}
{% load static %}
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Alessandria">
    <meta name="author" content="Marc SCHNEIDER">
    <!--link rel="icon" href="../../favicon.ico" -->

    <title>{% block title %}Alessandria - {{ LIBRARY_NAME }}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'alessandria/layout/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'alessandria/layout/style.css' %}" />
    <link rel="stylesheet" href="{% static 'alessandria/layout/font-awesome/css/all.min.css' %}">
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" href="{% url 'alessandria:home' %}">{% trans "Home" %}</a>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarBorrowings" data-toggle="dropdown">
              {% trans "Borrowings" %}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'alessandria:reader_borrow_add' %}">{% trans "Add" %}</a>
              <a class="dropdown-item" href="{% url 'alessandria:reader_borrow_list' 'current' %}">{% trans "Current borrowings" %}</a>
              <a class="dropdown-item" href="{% url 'alessandria:reader_borrow_list' %}">{% trans "All borrowings" %}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarBooks" data-toggle="dropdown">
              {% trans "Books" %}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'alessandria:book_add' %}">{% trans "Add" %}</a>
              <a class="dropdown-item" href="{% url 'alessandria:book_isbn_import' %}">{% trans "ISBN import" %}</a>
              <a class="dropdown-item" href="{% url 'alessandria:book_list' %}">{% trans "List" %}</a>
              <a class="dropdown-item" href="{% url 'alessandria:book_no_copy_list' %}">{% trans "Without Book Copy" %}</a>
              <a class="dropdown-item" href="{% url 'alessandria:book_taken_away_list' %}">{% trans "Taken Away" %}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarReaders" data-toggle="dropdown">
              {% trans "Readers" %}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'alessandria:reader_add' %}">{% trans "Add" %}</a>
              <a class="dropdown-item" href="{% url 'alessandria:reader_list' %}">{% trans "List" %}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarAuthors" data-toggle="dropdown">
              {% trans "Authors" %}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'alessandria:author_add' %}">{% trans "Add" %}</a>
              <a class="dropdown-item" href="{% url 'alessandria:author_list' %}">{% trans "List" %}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarPublishers" data-toggle="dropdown">
              {% trans "Publishers" %}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'alessandria:publisher_add' %}">{% trans "Add" %}</a>
              <a class="dropdown-item" href="{% url 'alessandria:publisher_list' %}">{% trans "List" %}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarStastics" data-toggle="dropdown">
              {% trans "Statistics" %}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'alessandria:statistics_books_collections' %}">{% trans "Books Collections" %}</a>
              <a class="dropdown-item" href="{% url 'alessandria:statistics_readers' %}">{% trans "Readers" %}</a>
              <a class="dropdown-item" href="{% url 'alessandria:statistics_borrowings' %}">{% trans "Borrowings" %}</a>
            </div>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarHistory" data-toggle="dropdown">
                {% trans "History" %}
              </a>
              <div class="dropdown-menu">
                {% for item in request.session.user_nav_list %}
                  <a class="dropdown-item" href="{{ item.0 }}">{{ item.1 }}</a>
                {% endfor %}
              </div>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/admin">{% trans "Administration" %}</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'alessandria:logout' %}"><i class="fas fa-power-off"></i>&nbsp;{% trans "Log out" %} {{ user.first_name }}</a>
            {% else %}
              <a class="nav-link" href="{% url 'alessandria:login' %}">{% trans "Log in" %}</a>
            {% endif %}
          </li>
        </ul>
      </nav>

      <div class="container">
        <div class="card">
          <div class="card-header bg-card-header">
            <h3>{% block pageTitle %}Alessandria{% endblock %}</h3>
          </div>
          <div class="card-body">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>

    </div><!-- /.container -->

    <div align="center">
      Alessandria - Licence GNU GPLv3 - {{ VERSION|safe }} - {{ LIBRARY_NAME }}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'alessandria/layout/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'alessandria/layout/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'alessandria/layout/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block jscript %}{% endblock %}
  </body>
</html>
