{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}

{% load tag_extras %}

{% block title %}{% trans "ISBN import of a book" %}{% endblock %}

{% block pageTitle %}{% trans "ISBN import of a book" %}{% endblock %}

{% block content %}

<form class="form-horizontal" action="{% url 'alessandria:book_isbn_import' %}" method="post" role="form">{% csrf_token %}
    <input type="hidden" name="cmd" value="search_isbn" />
    <div class="row">
        <div class="form-group">
            <label for="isbn_nb" class="col-sm-2 control-label">{% trans "ISBN number" %}</label>
            <div class="col-sm-10">
                <input id="isbn_nb" name="isbn_nb" type="text" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
            </div>
        </div>
    </div>
</form>
{% if search %}
  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger">{{ message }}</div>
      {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success">{{ message }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if book.id %}
    <div class="row">
      <div class="alert alert-success">
        <p>{% trans "This book" %} <a href="{% url 'alessandria:book_update' book.id %}">{% trans "already exists." %}</a></p>
      </div>
    </div>
  {% else %}
    {% if book %}
      <form class="form-horizontal" action="{% url 'alessandria:book_isbn_import' %}" method="post" role="form">{% csrf_token %}
        <input type="hidden" name="cmd" value="import_isbn" />
        <div class="row">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">{% trans "Book found" %}</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <div class="col-sm-2">{% trans "ISBN number" %}</div>
                  <div class="col-sm-10">{{ book.isbn_nb }}</div>
                  <input type="hidden" name="isbn_nb" value="{{ book.isbn_nb }}"/>
                </div>
                <div class="form-group">
                  <div class="col-sm-2">{% trans "Title" %}</div>
                  <div class="col-sm-10">{{ book.title }}</div>
                  <input type="hidden" name="title" value="{{ book.title }}"/>
                </div>
                <div class="form-group">
                  <div class="col-sm-2">{% trans "Date" %}</div>
                  <div class="col-sm-10">{{ book.publish_date|default:"" }}</div>
                  <input type="hidden" name="publish_date" value="{{ book.publish_date }}"/>
                </div>
              </div>
            </div>
            {% for author in authors %}
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">{% trans "Author" %}&nbsp;n°.{{ forloop.counter }}&nbsp;:
                    <input name="author_nb" type="hidden" value="{{ forloop.counter0 }}"/>
                    {% if author.id %}
                      <input name="author_id_{{ forloop.counter0 }}" type="hidden" value="{{ author.id }}" />
                      {% trans "This author already exists, it will be linked to the book." %}
                    {% else %}
                      {% trans "This author wasn't found in the database, you will have to create it." %}
                    {% endif %}
                  </h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <div class="col-sm-2">{% trans "Name" %}:</div>
                    <div class="col-sm-10">{{ author.first_name }}&nbsp;{{ author.last_name }}</div>
                  </div>
                </div>
              </div>
            {% empty %}
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h3 class="panel-title">{% trans "No author is set in ISBN data" %}</h3>
                  </div>
              </div>
            {% endfor %}

            {% if publisher %}
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    {% if publisher.id %}
                      <input name="publisher_id" type="hidden" value="{{ publisher.id }}" />
                      {% trans "This publisher already exists, it will be linked to the book." %}
                    {% else %}
                      {% trans "This publisher wasn't found in the database, you will have to create it." %}
                    {% endif %}
                   </h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <div class="col-sm-2">{% trans "Name" %}:</div>
                    <div class="col-sm-10">{{ publisher.name }}</div>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">{% trans "No publisher is set in ISBN data" %}</h3>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">{% trans "Import" %}</button>
            </div>
          </div>
        </div>
      </form>
    {% else %}
      <div class="row">
        <div class="col-md-12">
          {% trans "Unknown ISBN number." %}
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endif %}
{% endblock %}
