{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}

{% block title %}{{ LIBRARY_NAME }}{% endblock %}

{% block pageTitle %}{% trans "Hello" %}, {{ user.first_name }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "News" %}</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th width="15%">{% trans "Date" %}</th>
              <th width="85%">{% trans "News" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for appli_news in last_appli_news_list %}
              <tr>
                  <td>{{ appli_news.publish_date|date:"SHORT_DATE_FORMAT" }}</td>
                  <td>{{ appli_news.news|linebreaksbr }}</td>
              </tr>
            {% empty %}
              <tr><td colspan="2">{% trans "No news." %}</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- /.col-sm- -->
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Last books registered" %}</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>{% trans "Registration date" %}</th>
              <th>{% trans "Book" %}</th>
              <th>{% trans "Author" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for book in last_books_list %}
              <tr>
                <td>{{ book.created_on|date:"SHORT_DATE_FORMAT" }}</td>
                <td><a href="{% url 'alessandria:book_update' book.id %}">{{ book }}</a></td>
                <td><a href="{% url 'alessandria:author_update' book.authors.first.id %}">{{ book.authors.first }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- /.col-sm- -->
</div>
{% endblock %}
