{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}

{% block title %}{% trans "Authentication" %}{% endblock %}

{% block pageTitle %}{% trans "Authentication" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    {% include 'alessandria/_inc_form_edit_header.html' %}
    <div class="card">
      <div class="card-header">
        <h4>{% trans "Login" %}</h4>
      </div>
      <div class="card-body">
        <form id="login_form" method="post" action="{% url 'alessandria:login' %}">{% csrf_token %}
          <div class="form-group">
          <div class="row">
            <label for="username" class="col-sm-2 control-label">{% trans "Username" %}</label>
            <div class="col-sm-10">
              <input id="username" type="text" name="username" value="" size="20" />
            </div>
        </div>
          <div class="row">
            <label for="password" class="col-sm-2 control-label">{% trans "Password" %}</label>
            <div class="col-sm-10">
              <input id="password" type="password" name="password" value="" size="20" />
            </div>
        </div>
        </div>
          <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div><!-- /.col-sm-12 -->
</div>
{% endblock %}
