{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}

{% block pageTitle %}{{ page_title }}{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span12">
    {% include 'alessandria/_inc_paginator_list.html' %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th><a href="{% url 'alessandria:reader_borrow_list' display %}?order_field=borrowed_date">{% trans "Borrowed on" %}</a></th>
          <th><a href="{% url 'alessandria:reader_borrow_list' display %}?order_field=reader__last_name">{% trans "Reader" %}</a></th>
          <th><a href="{% url 'alessandria:reader_borrow_list' display %}?order_field=bookcopy__book__title">{% trans "Book" %}</a></th>
          <th><a href="{% url 'alessandria:reader_borrow_list' display %}?order_field=borrow_due_date">{% trans "Due date" %}</a></th>
          <th><a href="{% url 'alessandria:reader_borrow_list' display %}?order_field=returned_on">{% trans "Returned on" %}</a></th>
        </tr>
      </thead>
      <tbody>
      {% for borrow in object_list %}
        <tr>
          <td>
            {% if borrow.is_late %}
            <button type="button" class="btn btn-default" aria-label="{% trans "Late" %}">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            </button>
            {% endif %}
          </td>
          <td><a href="{% url 'alessandria:reader_borrow_update' borrow.id %}">{{ borrow.borrowed_date|date:"SHORT_DATE_FORMAT" }}</a></td>
          <td><a href="{% url 'alessandria:reader_update' borrow.reader.id %}">{{ borrow.reader }}</a></td>
          <td><a href="{% url 'alessandria:book_update' borrow.bookcopy.book.id %}">{{ borrow.bookcopy.book }}</a></td>
          <td>{{ borrow.borrow_due_date|date:"SHORT_DATE_FORMAT" }}</td>
          <td>{{ borrow.returned_on|default:"" }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">{% trans "No borrowing." %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
