{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}

{% block title %}{% trans "Reader" %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/alessandria/layout/bootstrap_datepicker/css/bootstrap-datepicker3.css">
{% endblock %}

{% block pageTitle %}{% trans "Reader" %}:&nbsp;{{ object.get_full_name|default:_("new") }}{% endblock %}

{% block content %}

{% if object.id > 0 %}
  <div class="col-sm-12">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#mainForm">{% trans "Form" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#borrows">{% trans "Borrowings" %}</a>
      </li>
    </ul>
  </div>
{% endif %}

<div class="tab-content">
  <div class="tab-pane container active" id="mainForm">
    {% include 'alessandria/_inc_form_edit_header.html' %}
    <div class="card">
      <div class="card-body">
        {% if form.instance.is_disabled %}
          <div class="textWarning">
            <p>
              {% url 'alessandria:reader_enable' form.instance.id as disable_url %}
              {% blocktrans %}
                This reader is disabled.&nbsp;Click&nbsp;<a href="{{ disable_url }}">here</a>&nbsp;to enable it again.
              {% endblocktrans %}
            </p>
          </div>
        {% endif %}
        <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
          {% include 'alessandria/_inc_form_edit_content_std.html' %}
          <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
          {% if form.instance.id > 0 %}
            {% if not form.instance.is_disabled %}
              <a class="btn btn-warning" href="{% url 'alessandria:reader_disable' form.instance.id %}">{% trans "Disable" %}</a>
            {% endif %}
            {% if form.instance.can_be_deleted %}
              <a class="btn btn-danger" href="{% url 'alessandria:reader_delete' form.instance.id %}">{% trans "Delete" %}</a>
            {% endif %}
          {% endif %}
        </form>
        {% include 'alessandria/_inc_form_edit_footer.html' %}
      </div>
    </div>
  </div>

  {% if object.id > 0 %}
    <div class="tab-pane container fade" id="borrows">
      <div class="card">
        <div class="card-header">
          <h3>{% trans "Summary" %}</h3>
        </div>
        <div class="card-body">
          <h4>{% trans "Nb Of Borrowings" %}: <span class="badge badge-info">{{ object.nb_borrow }}</span></h4>
        </div>
      </div>
      {% if object.list_borrow_current %}
        <div class="card">
          <div class="card-header">
            <h3>{% trans "Current borrowings" %}</h3>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Date emprunt</th>
                <th>Livre</th>
                <th>Retour pour le</th>
              </tr>
            </thead>
            <tbody>
            {% for borrow in object.list_borrow_current|slice:":10" %}
              {% if borrow.is_late %}
                <tr class="bg-warning">
              {% else %}
                <tr>
              {% endif %}
                  <td><a href="{% url 'alessandria:reader_borrow_update' borrow.id %}">{{ borrow.borrowed_date|date:"SHORT_DATE_FORMAT" }}</a></td>
                  <td><a href="{% url 'alessandria:book_update' borrow.bookcopy.book.id %}">{{ borrow.bookcopy.book }}</a></td>
                  <td>{{ borrow.borrow_due_date|date:"SHORT_DATE_FORMAT" }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
      {% if object.list_borrow_all %}
        <div class="card">
          <div class="card-header">
            <h3>{% trans "All borrowings" %}</h3>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>{% trans "Borrowing date" %}</th>
                <th>{% trans "Book" %}</th>
                <th>{% trans "Returned on" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for borrow in object.list_borrow_all %}
                <tr>
                  <td><a href="{% url 'alessandria:reader_borrow_update' borrow.id %}">{{ borrow.borrowed_date|date:"SHORT_DATE_FORMAT" }}</a></td>
                  <td><a href="{% url 'alessandria:book_update' borrow.bookcopy.book.id %}">{{ borrow.bookcopy.book }}</a></td>
                  <td>{{ borrow.returned_on|date:"SHORT_DATE_FORMAT" }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>

{% endblock %}

{% block jscript %}
<script type="text/javascript" src="/static/alessandria/layout/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/alessandria/layout/bootstrap_datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/alessandria/layout/bootstrap_datepicker/locales/bootstrap-datepicker.fr.min.js"></script>
<script>
{% get_current_language as LANGUAGE_CODE %}
$(function() {
  $('#id_inscription_date').datepicker({
    language: "{{ LANGUAGE_CODE }}",
    autoclose: true,
    todayHighlight: true,
  });
});
</script>
{% endblock %}
