{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}

{% block title %}{% trans "Statistics for books" %}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/alessandria/layout/bootstrap_datepicker/css/bootstrap-datepicker3.css">
{% endblock %}

{% block pageTitle %}{% trans "Statistics for books" %}{% endblock %}

{% block content %}

<form class="form-horizontal" action="{% url 'alessandria:statistics_books_collections' %}" method="post" role="form">{% csrf_token %}
  {% include 'alessandria/_inc_form_search_std.html' %}
</form>

<div class="text-danger">{{ search_form.non_field_errors }}</div>

{% if statistics %}
  <div class="card">
    <div class="card-header">
      <h3 class="panel-title">
        {% trans "Year" %} : {{ statistics.year }}<br/>
        {% trans "Number of books" %}: {{ statistics.total_num_books }}<br/>
        {% trans "Number of books copies" %}: {{ statistics.total_num_book_copies }}<br/>
      </h3>
    </div>
    <div class="card-body">
      <table cellpadding="5" cellspacing="5" border="1">
        <thead>
          <th></th>
          <th colspan="{{ book_audiences.count|add:'1' }}">{% trans "All" %}</th>
          {% for origin in book_copy_origins %}
          <th colspan="{{ book_audiences.count|add:'1' }}">{{ origin.label }}</th>
          {% endfor %}
        </thead>
        <tbody>
          <tr>
            <td></td>
            {% for audience in book_audiences %}
              <td align="right">{{ audience.label|slice:":3" }}.</td>
            {% endfor %}
              <td align="right"><b>{% trans "Total"|slice:":3" %}.</b></td>
            {% for origin in book_copy_origins %}
              {% for audience in book_audiences %}
              <td align="right">{{ audience.label|slice:":3" }}.</td>
              {% endfor %}
              <td align="right"><b>{% trans "Total"|slice:":3" %}.</b></td>
            {% endfor %}
          </tr>
          {% for category in statistics.category.values %}
            <tr>
              <td>{{ category.label }}</td>
              {% for audience in category.origins.all.audiences.values %}
                <td align="right">{{ audience.count }}</td>
              {% endfor %}
                <td align="right"><b>{{ category.origins.all.total.count }}</b></td>
              {% for origin in category.origins.items.values %}
                {% for audience in origin.audiences.values %}
                <td align="right">{{ audience.count }}</td>
                {% endfor %}
                <td align="right"><b>{{ origin.total.count }}</b></td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block jscript %}
<script src="/static/alessandria/layout/bootstrap_datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/alessandria/layout/bootstrap_datepicker/locales/bootstrap-datepicker.fr.min.js"></script>
<script>
{% get_current_language as LANGUAGE_CODE %}
$(function() {
  $('#id_from_date').datepicker({
    language: "{{ LANGUAGE_CODE }}",
    autoclose: true,
  });

  $('#id_to_date').datepicker({
    language: "{{ LANGUAGE_CODE }}",
    autoclose: true,
    todayHighlight: true,
  });
});
</script>
{% endblock %}